/*changes inside and outside spacing of the page*/
*{
    margin: 0;
    padding: 0;
}
/*moves product position*/
.products{
    position: relative;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*chnages product position, border, and dimensions*/
.product{
    width: 250px;
    border: 1px solid #010101;
    padding: 20px;
    margin: 30px;
    text-align: center;
    background-color: #142f38;
    opacity: 0.5;
}
/*sets product dimensions*/
.product lag {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}
/*changes header color and position*/
.product h2{
    color: rgb(248, 248, 248);
    margin-top: 5px;
}
/*changes paragragh color and positiono*/
.product p{
    color: black;
    margin-top: 5px;
}
/*changes image size*/
.product img{
    width: 200px;
    max-height: 200px;
    object-fit: cover;
}
/*adds image link and change its size*/
.background{
    position: fixed;
    background-image: url(https://tinyurl.com/3ehsuxkh);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/*gets rid of the list bullet points*/
ul{
    list-style-type: none;
    margin: 0;
    
}
/*makes list horizontal*/
li{
    float: left;
}
/*changes list text color, position, font, and gets rid of the underline*/
li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    opacity: 0.7;
    padding: 14px 30px;
    display: block;
    font-size: large;
    font-style: italic;
    text-align: center;
}
/*changes header color, position, and font*/
h1{
    position: relative;
    color: #0d1f25;
    text-align: center;
    font-style: italic;
    top: 15px;
}
/*moves nav bar and changes background color*/
.nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: #142f38;
}
/*moves logo*/
.logo{
    position: absolute;
    right: 1270px;
    top: -10px;
}
/*change header color and font*/
.logo h1{
    color: #224f5e;
    font-style: italic;
}
